
.slider {
    width: 100; 
    max-width: 40%;
    height: auto;
    margin: 0 auto 40px auto;
    position: relative;
    border-radius: 8px;
    display: block;
}

.slider .list {
    width: 100%; 
    height: 100%;
    position: center; 
    left: 0;
}

.slider .item {
    width: 100%;
    height: auto;
}

.slider .item img {
    width: 100%;
    height: 100%;
}

.slide-text {
  position: relative; 
  bottom: 60px;       
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 10px; 
}

/* Botones */
.slider .buttons {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.slider .buttons button:hover {
    background: rgba(0,0,0,0.7);
}

/* Dots */
.slider .dots {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 25px;
}

/* Responsive */
@media (max-width: 640px) {
    .slider {
        width: 600px;
        height: 250px;
    }
}
    

